<div class="container bookListWrapper">
	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search Here" ng-model="SearchFil">
                        </div>
                        </form>

			<div ng-repeat="book in books | filter:SearchFil">
				<div class="row bookPanel">
					<div class="col-lg-2"><img src=img/{{book.imgUrl}}></div>
					<div class="col-lg-9">
				<ul class="list-unstyled">
						<div class="book-details clearfix">
							<h3>{{book.name}}</h3>
							<p></p>
							<ul class="list-unstyled list-inline">
                                                           <li>Price: {{book.price | currency:'$ '}}</li>
							   <li>Ratings {{book.rating}}*</li>
							    <li>Binding: {{book.binding}}</li>
                                                            <li>Publisher {{book.publisher}}</li>
							</ul>
						</div>
				</ul>
			</div>
			<div class="col-lg-1"><button class="primary-info" name="AddtoCart" ng-click="AddtoCart(book)">Add to Cart</button></div>
			</div>
		</div>
		</div>
	
