<header></header>
<div class="container-fluid">
	<div class="col-md-2 col-lg-2"><sidebar></sidebar>
</div>
	<div class="col-md-8 col-lg-8">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" data-target="#home">Enquiries</a></li>
			<li><a data-toggle="tab" data-target="#contacted">Contacted</a></li>
			<li><a data-toggle="tab" data-target="#student">Student</a></li>
			<li><a data-toggle="tab" data-target="#stand-out">Stand out</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div class="list total">{{enquries.length}} Enquiries</div>
				<div class="list" ng-repeat="enquery in enquries">
					
                    <div class="first-letter" ng-bind="enquery.enquired_username.charAt(0)"></div>
                    <div class="desc">
                    	<h3>{{enquery.enquired_username}}</h3>
						<h6>{{enquery.enquired_category}}</h6>
						<p ng-model="loaction">{{enquery.enquired_user_location}}, {{enquery.enquired_user_city}}</p>
	                </div>
				</div>
			</div>
			<div id="contacted" class="tab-pane fade">
				<div class="list total">{{cont.length}} Enquiries</div>
				<div class="list" ng-repeat="contacts in cont">					
                    <div class="first-letter" ng-bind="contacts.enquired_username.charAt(0)"></div>
                    <div class="desc">
                    	<h3>{{contacts.enquired_username}}</h3>
						<h6>{{contacts.enquired_category}}</h6>
						<p ng-model="loaction">{{contacts.enquired_user_location}}, {{contacts.enquired_user_city}}</p>
	                </div>
				</div>
			</div>
			<div id="student" class="tab-pane fade">
					<div class="list" ng-repeat="stud in StudentsList">	
	                    <div class="first-char">
	                    	<div class="first-letter randomColor" ng-bind="stud.enquired_username.charAt(0)"></div>
	                    </div>
	                    <div class="desc">
	                    	<h3>{{stud.enquired_username}}</h3>
							<h6 class="category"><strong>{{stud.enquired_category | uppercase}}</strong></h6>
							<p class="msg">Hi, {{stud.enquired_username}}. We can help you with the above requirement as we offer a....</p>
		                </div>
					</div>
			</div>
			<div id="stand-out" class="tab-pane fade">
				<div class="list" ng-repeat="pos in position">
            		<div class="first-char">
            			<div class="first-letter><img ng-src="{{pos.enquired_image}}"></div>
            		</div>
            		<div class="desc">
	                    	<h3>{{pos.enquired_address}}</h3>
							<h6 class="category"><strong>{{pos.enquired_category | uppercase}}</strong></h6>
							<p class="msg">{{pos.enquired_score}}</p>
		            </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-lg-2"><rightsidebar></rightsidebar></div>
</div>
